<main class="product-show d-flex align-items-center justify-content-center">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4 p-2">
        <img class="img-fluid" src="{{product.image}}" alt="product image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">Price: {{formatDollar product.price}}</p>
          <div class="btn-group">
            <a href="">
              <button class="btn btn-primary mr-2">Edit</button>
            </a>
            <form action="">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</main>